@using BioField.Models;
@model BioField.Models.Journals;

<h2>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h2>
<hr/>
@if(@Model.Entries.Count == 0)
{
     <p>There are no entries at this time</p>
}
else
{
    <h4>Journal Entries</h4>
    <ul>
        @foreach(var join in Model.Entries)
        {
            <li>@join.Entries.Site</li>
        }
    </ul>
}
<p>@Html.ActionLink("Create a new entry", "Create", "Entries")</p>
<p>@Html.ActionLink("Delete this Journals", "Delete")</p>
<p>@Html.ActionLink("Back to Journals", "Index")</p>
<p>@Html.ActionLink("Back to Home", "Index", "Home")</p>